################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArrowInventory/.vs/ArrowInventory.slnx/FileContentIndex/c55d9b9a-de39-421f-87f1-9995c74eecdc.vsidx
*.vsidx
/ArrowInventory/ArrowInventory/Data/Devices.json
/ArrowInventory/ArrowInventory/Data/Sites.json
/ArrowInventory/ArrowInventory/Properties/PublishProfiles/Arrow-AssetTest - Web Deploy.pubxml.user
/ArrowInventory/ArrowInventory/ArrowInventory.db-shm
/ArrowInventory/ArrowInventory/ArrowInventory.db-wal
