@page
@model ArrowInventory.Pages.AdminModel
@{
    Layout = "_LayoutSidebar";
    ViewData["Title"] = "Admin Page";
}
<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h1 class="mb-0">ArrowLabs Inventory</h1>
        <small class="text-secondary">
            ArrowLabs Admin Dashboard
        </small>
    </div>

</div>
@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-@TempData["StatusType"]">
        @TempData["StatusMessage"]

    </div>
}

<div class="row d-flex justify-content-center mb-4">
    <div class="col-md-3">
        <div class="card bg-body-tertiary border-secondary text-body">
            <div class="card-body">
                <h6 class="text-center text-secondary">
                    Total Sites
                </h6>
                <h2 class="text-center stat-number stat-card-devices">@Model.Sites.Count</h2>
            </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center mb-4">
    <a asp-page="/ManageSite"
           class="btn btn-outline-primary">
        Manage Sites
    </a>
</div>

<div>

</div>

<div class="row d-flex justify-content-center mb-4">
    <div class="col-md-3">
        <div class="card bg-body-tertiary border-secondary text-body">
            <div class="card-body">
                <h6 class="text-center text-secondary">
                    Total Users
                </h6>
                <h2 class="text-center stat-number stat-card-vms">@Model.Users.Count</h2>
            </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center mb-4">
    <a asp-page="/ManageUser"
           class="btn btn-outline-primary">
        Manage Users
    </a>
</div>