@page
@model ArrowInventory.Pages.ForceResetPasswordModel
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - ArrowInventory</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet" />
    </head>
    <body class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card shadow" style="width: 400px; border-radius: 12px;">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                <img src="https://arwlabazblob.blob.core.windows.net/intune-assets/ArrowLabs-Icon.png"
                     alt="ArrowLabs Logo" width="60" height="60" class="mb-3" />
                    <h3>Password Expired</h3>
                    <p class="text-secondary">Your password has expired, Please set a new Password</p>
                </div>
                @if (TempData["StatusMessage"] != null)
                {
                    <div class="alert alert-@TempData["StatusType"]">
                        @TempData["StatusMessage"]

                    </div>
                }

                <form method="post">
                    <div class="mb-3">
                        <label>New Password <span class="text-danger">*</span></label>
                        <input asp-for="newPassword" type="password" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>Confirm Password <span class="text-danger">*</span></label>
                        <input asp-for="confirmPassword" type="password" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Update Password</button>
                </form>
            </div>
        </div>
    </body>
</html>
