@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Arrow labs Inventory System</h1>
    <p>For now, use the navbar to go to "add" or "manage" devices</a>.</p>



</div>
