@page
@model ManageDevicesModel
@{
    ViewData["Title"] = "Manage Devices";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Search Hostname:</p>


</div>
<div
    class="form-text accordion-flush"
    <p>What is this</p>
</div>